{% extends 'base_layout.html' %}

{% block content %}
<h2>{{ curso.name }}a</h2>
<ul>
    {% for disciplina in disciplinasLista %}
    <li style="margin-bottom: 50px; border-radius: 5px; border-color: blueviolet; background: burlywood; padding: 5px; width: 35%;">
        {{ disciplina.info.name }} ({{ disciplina.info.year }}º ano/{{ disciplina.info.semester }})
        <ul>
            <li>ECTS: {{ disciplina.info.ects }}</li>
            <li>Curricular Unit Readable Code: {{ disciplina.info.curricularIUnitReadableCode }}</li>
            <li>Scientific Area: {{ disciplina.info.scientificArea.name }}</li>
            {%if disciplina.projetos %}
                <li>Projects:</li>
                <ul>
                    {% for projeto in disciplina.projetos %}
                        <li>
                            <a href="{% url 'projeto_detail' projeto.id %}">
                                <strong>{{ projeto.descricao }}</strong>
                            </a>                            
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
