{% extends 'base_layout.html' %}

{% block content %}

<h3>{{ article.title }}</h3>
<p>{{ article.content }}</p>
<p>Autor: {{ article.author }}</p>
<p>Data de Criação: {{ article.created_at }}</p>

<h4>Comentários:</h4>
<ul>
  {% for comment in comments %}
    <li>
      <p>{{ comment.content }}</p>
      <p>Autor: {{ comment.author }}</p>
      <p>Data de Criação: {{ comment.created_at }}</p>
    </li>
  {% empty %}
    <li>Nenhum comentário disponível.</li>
  {% endfor %}
</ul>

{% endblock %}

